/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,layout = &default_layout;
    };

    kscan0: kscan0 {
    compatible = "zmk,kscan-gpio-matrix";
-   diode-direction = "col2row";
+   diode-direction = "row2col";
    debounce-press-ms = <5>;
    debounce-release-ms = <5>;

-   row-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>,
-               <&gpio0 8 GPIO_ACTIVE_HIGH>,
-               <&gpio0 17 GPIO_ACTIVE_HIGH>;
+   row-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
+               <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,
+               <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;

    col-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>,
                <&gpio0 24 GPIO_ACTIVE_HIGH>,
                <&gpio1 0  GPIO_ACTIVE_HIGH>;
};

    default_transform: keymap_transform {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <3>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
            RC(1,0) RC(1,1) RC(1,2)
            RC(2,0) RC(2,1) RC(2,2)
        >;
    };

    default_layout: keymap {
        compatible = "zmk,physical-layout";
        matrix-transform = <&default_transform>;
        kscan = <&kscan0>;
    };
};
