#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define ABC  1
#define BT   2

/ {
    behaviors {
        layer_ht: layer_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&tog>;
        };
    };

    combos {
        compatible = "zmk,combos";
        studio_unlock_combo {
            timeout-ms = <200>;
            key-positions = <3 6>; // 3+6 (numbers) or C+F (letters)
            bindings = <&studio_unlock>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Numbers";
            bindings = <
                &layer_ht BT ABC
                &kp N1   &kp N2   &kp N3
                &kp N4   &kp N5   &kp N6
                &kp N7   &kp N8   &kp N9
            >;
        };

        letters_layer {
            display-name = "Letters";
            bindings = <
                &layer_ht BT BASE
                &kp A    &kp B    &kp C
                &kp D    &kp E    &kp F
                &kp G    &kp H    &kp I
            >;
        };

        bluetooth_layer {
            display-name = "Bluetooth";
            bindings = <
                &trans
                &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2
                &bt BT_SEL 3    &bt BT_SEL 4    &bt BT_CLR
                &bt BT_CLR_ALL  &out OUT_TOG    &trans
            >;
        };

    };
};
