#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";
        studio_unlock_combo {
            timeout-ms = <50>;
            key-positions = <2 5>; // C (position 2) and F (position 5)
            bindings = <&studio_unlock>;
        };
        layer_toggle_combo {
            timeout-ms = <50>;
            key-positions = <0 1>; // 1 (position 0) and 2 (position 1)
            bindings = <&tog 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Numbers";
            bindings = <
                &kp N1   &kp N2   &kp N3
                &kp N4   &kp N5   &kp N6
                &kp N7   &kp N8   &kp N9
            >;
        };

        // Reserved layers for ZMK Studio
        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };
    };
};
